@media screen and (max-width: 1000px)
{
	body
	{
		max-width: 1000px;
	}
	table
	{
		width: 100%;
	}
	.container2
	{
		display: flex;
		flex-direction: column;
	}
	.icon1
	{
		float: none;
		margin: 0 auto;
		width: 80%;
	}
	.container3_2
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		margin: 0 auto;
		margin-bottom: 60px;
		width: 100%;
	}
	#container5
	{
		max-width: inherit;
	}
	.doc_content
	{
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}
	.doc_content p
	{
		border: 1px solid;
		margin: 0;
		margin-top: 10px;
		padding: 10px;
	}
	.doc_content p:hover
	{
		color: inherit;
	}
	.doc_content p:hover
	{
		border-color: red;
	}
	.content
	{
		max-width: inherit;
		width: 80%;
	}
	#upp_menu_contents
	{
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 900px)
{
	body
	{
		max-width: 900px;
	}
	.main-navigation ul li
	{
		margin-left: 0px;
	}
}
@media screen and (max-width: 700px)
{
	body
	{
		max-width: 700px;
	}
	.main-navigation ul li
	{
		margin-left: 0px;
	}
	.main-navigation
	{
		display: none;
	}
	.mobile_menu
	{
		display: inline-block;
	}
	.header_text
	{
		width: 90%;
	}
	#container1
	{
		margin-bottom: 45px;
		margin-top: 20px;
		padding-bottom: 20px;
		width: 90%;
	}
	#container1 p
	{
		text-align: left;
	}
	.container2
	{
		margin-bottom: 0px;
	}
	.container2 p
	{
		margin-bottom: 37px;
	}
	#container3
	{
		padding-bottom: 50px;
		padding-top: 75px;
		width: 100%;
	}
	#container3 p
	{
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	#container3 h1, #container3 h2
	{
		margin-bottom: 10px;
	}
	.icon1
	{
		width: 80%;
	}
	.container3_left
	{
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}
	.container3_right
	{
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		text-align: center;
	}
	.container3_
	{
		margin: 0 auto;
	}
	.cont_left, .cont_right
	{
		position: static;
	}
	.container3_left div,
	.container3_right div
	{
		margin: 0 auto;
		text-align: center;
	}
	.container3_
	{
		padding-bottom: 20px;
		padding-top: 10px;
	}
	#container3 div
	{
		width: 95 %;
	}
	.main_cont3
	{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	#container4
	{
		margin-bottom: 35px;
		margin-top: 35px;
		width: 90%;
	}
	#container5
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
		max-width: 700px;
	}
	#container5 div
	{
		margin-bottom: 35px;
		width: 125px;
	}
	footer p
	{
		width: 90%;
	}
	textarea
	{	
	max-width: 100%;
	width: 100%;
	}
	
}
@media screen and (max-width: 380px)
{
	body
	{
		max-width: 380px;
	}
	header
	{
		height: 670px;
	}
	.header_text h1
	{
		font-size: 46px;
		line-height: 1.23;
		margin-top: 90px;
	}
	.header_text p {
    margin-bottom: 45px;
	}
	footer
	{
		height: auto;
	}
	.button
	{
		font-size:
		padding: 1em 25px 1em 25px;
	}
	.button2 
	{
	padding: 1em 50px 1em 50px;
	}
	footer
	{
	padding-bottom: 45px;	
	}
	#container3
	{
		padding-top: 30px;
	}
	#container3_0
	{
		margin-bottom: 180px;
	}
	.container3_
	{
		height: 128px;
		width: 128px;
	}
	.container3_1 h1
	{
		margin: 0 auto;
		max-width: 220px;
	}
	#cont3 h1
	{
		margin-top: 40px;
	}
}
@media screen and (max-width: 340px)
{
	.header_text
	{
		font-size: 20px;
	}
	.header_text h1
	{
		font-size: 36px;
	}
}
@media screen and (max-width: 310px)
{
	body
	{
		max-width: 310px;
	}
	table
	{
		font-size: 12px;
	}
	.logo img
	{
		float: left;
		height: 28px;
		width: 120px;
	}
	.header_text
	{
		font-size: 16px;
	}
	.header_text h1
	{
		font-size: 24px;
	}
	.container3_
	{
		margin-top: 100px;
	}
	#container3_0
	{
		margin-bottom: 140px;
	}
}

@media screen and (max-width: 250px)
{	
	#container3 h1, #container4 h1
	{
	font-size: 25px;	
	}
	.button, .button2{
		font-size: 10px;
		padding: 1em 1em 1em 1em;
	}
}