@font-face
{
	font-family: HarmoniaSansProCyr-Bold;
	src: url(HarmoniaSansCyr/HarmoniaSansProCyr-Bold.otf);
}
@font-face
{
	font-family: HarmoniaSansProCyr;
	src: url(HarmoniaSansCyr/HarmoniaSansProCyr-Regular.otf);
}
body
{
	color: #494b4c;
	font-family: HarmoniaSansProCyr;
	margin: 0 auto;
	overflow: scroll;
}
header h1
{
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 56px;
	line-height: 1.07;
	margin-bottom: 33px;
}
h1
{
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 36px;
	line-height: 1.07;
	margin-bottom: 11px;
}
h2
{
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 24px;
	margin-bottom: 12px;
}
h3
{
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 18px;
}
a
{
	color: inherit;
	text-decoration: none;
}
.main-header
{
	display: flex;
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 14px;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1195px;
}
.main-header div
{
	padding: 20px 0px 0px 0px;
}
.main-navigation ul li
{
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px 6px 10px 6px;
}
.main-navigation ul li:last-child
{
	border: 1px solid white;
	border-radius: 5px;
	box-sizing: border-box;
	margin-right: 10px;
	padding: 0.8em 2em 0.9em 2em;
	text-align: center;
}
.main-navigation ul li:hover
{
	border-color: red;
	color: red;
}
#join_Beta
{
	border-color: red;
	color: red;
}

#join_Beta:hover
{
	background-color: red;
	color: white;
}
#beta_main:hover
{
	background-color: red;
	color: white;
}
.logo img
{
	float: left;
	height: 56px;
	margin-top: 7px;
	width: 240px;
}
.mobile_menu
{
	display: none;
	margin-right: 20px;
	margin-top: 20px;
}
.mobile-menu-close
{
	display: none;
	margin-right: 20px;
	margin-top: 20px;
}
#menu_marker
{
	color: red;
}
header
{
	background-image: url(KSDNA-Immage.jpg);
	background-size: cover;
	color: white;
	height: 720px;
	width: 100%;
}
.header_text
{
	font-family: HarmoniaSansProCyr;
	font-size: 24px;
	line-height: 1.33;
	margin: 0 auto;
	text-align: center;
	width: 560px;
}
.header_text h1
{
	margin-top: 160px;
}
.header_text p
{
	margin-bottom: 64px;
}
#upp_menu
{
	background-image: none;
	color: #494b4c;
	height: 80px;
	margin: 0px;
	padding: 0px;
}
#upp_menu_white
{
	margin-bottom: 75px;
	margin-top: 15px;
	width: 100%;
}
#upp_menu_contents
{
	margin-bottom: 75px;
	margin-top: 15px;
	width: 100%;
}
#header_up
{
	height: auto;
	margin: 0;
	padding: 0;
}
.content
{
	color: #494b4c;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 570px;
	text-align: left;
}
.content h1
{
	font-size: 30px;
}
.content + h1
{
	margin-top: 100px;
}
.content h2
{
	font-family: HarmoniaSansProCyr;
	font-size: 20px;
	line-height: normal;
	margin-top: 15px;
}
.content hr
{
	margin-bottom: 36px;
	margin-top: 36px;
	width: inherit;
}
#beta p
{
	margin-bottom: 10px;
}
.documentation
{
	margin: 0 auto;
	max-width: 1150px;
}
.doc_content
{
	float: left;
}
.button
{
	background-color: #ec1f27;
	border: 1px solid red;
	border-radius: 5px;
	color: white;
	display: inline;
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 16px;
	padding: 13px 51px 1em 51px;
}
.button a
{
	margin-top: 10px;
}

.button:hover
{
	background-color: #F53137;
}
#container1
{
	border-bottom: 1px solid #e1e3e6;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	margin-bottom: 94px;
	margin-top: 65px;
	padding-bottom: 50px;
	padding-top: 11px;
	text-align: center;
	width: 560px;
}
#container1 p
{
	margin: 10px 0px 10px 0px;
	padding: 0px;
}
#container1_1 p
{
	padding-bottom: 10px;
}
#container1 h1
{
	font-size: 36px;
	margin: 0px;
	padding: 0px;
}
.container2
{
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 52px;
	max-width: 1200px;
	overflow: hidden;
	text-align: center;
}
.container2 h3
{
	margin: 15px 0px 11px 0px;
}
.icon1
{
	float: left;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	width: 310px;
}
.icon1 img
{
	width: 125px;
}
#container3
{
	background-color: #f7f8fa;
	margin: 0 auto;
	overflow: visible;
	padding-bottom: 75px;
	padding-top: 75px;
	text-align: center;
	width: 100%;
}
.container3_1
{
	font-family: HarmoniaSansProCyr;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	margin-bottom: 80px;
	max-height: 136px;
	max-width: 570px;
	text-align: center;
}
#cont3
{
	padding-bottom: 10px;
}
#cont3 h1
{
	margin-top: 70px;
}
.container3_2
{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 60px;
	width: 1000px;
}
hr
{
	background-color: #e1e3e6;
	border: none;
	color: #e1e3e6;
	height: 1px;
	margin-bottom: 60px;
	width: 100%;
}
.container3_left
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1040px;
}
.container3_right
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1060px;
}
.container3_left div
{
	font-size: 16px;
	line-height: 1.5;
	max-width: 460px;
	text-align: left;
}
.container3_right div
{
	font-size: 16px;
	line-height: 1.5;
	max-width: 470px;
	text-align: left;
}
.container3_
{
	height: 256px;
	padding: 0;
	width: 256px;
}
.cont_left
{
	left: 35px;
	position: relative;
	top: 45px;
}
.cont_right
{
	position: relative;
	right: 40px;
	top: 55px;
}
#cont3
{
	margin-bottom: 65px;
}
#container4
{
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	margin-bottom: 53px;
	margin-top: 75px;
	text-align: center;
	width: 565px;
}
#container5
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 75px;
	max-width: 1100px;
}
#container5 img
{
	height: 64px;
	width: 64px;
}
#container5 div
{
	color: #212a33;
	font-size: 20px;
	text-align: center;
}
#container5 p
{
	margin-top: 14px;
}
footer
{
	background-color: #f7f8fa;
	border-bottom: 1px solid #e1e3e6;
	border-top: 1px solid #e1e3e6;
	height: 280px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer h2
{
	margin-top: 60px;
}
footer p
{
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-bottom: 10px;
	text-align: center;
	width: 560px;
}
.button2
{
	border: 1px solid red;
	border-radius: 5px;
	color: red;
	display: inline;
	font-family: HarmoniaSansProCyr-Bold;
	padding: 14px 76px 17px 76px;
}
.button2:hover
{
	background-color: red;
	color: white;
}
#last_p
{
	color: #8d9399;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 27px;
	margin-top: 27px;
	text-align: center;
}
#last_div
{
	height: 133px;
	margin: 0 auto;
	width: 100;
}
.main_cont3
{
	margin-top: 60px;
}
form
{
	max-width: 600px;
}
.doc_content p:hover
{
	color: red;
}
#SDK , #API
{
	display: none;
}
table, td, tr, th
{
	border: 1px solid #e8e8e8;
	padding: 5px 7px;
}
.doc_content p
{
	margin-bottom: 15px;
	margin-left: 40px;
}
.list
{
	list-style-type: disc;
	margin-left: 40px;
}
.post
{
	background-color: #5cb85c;
	border-radius: 6px;
	color: white;
	margin: 0;
	padding: 6px;
	text-align: center;
	width: 63px;
}
.code
{
	background-color: #292b36;
	border-radius: 6px;
	color: white;
	margin: 10px 0 20px 0;
	overflow: auto;
	padding: 10px;
}

input, textarea
{	
	font-size: 14px;
	font-family: HarmoniaSansProCyr;
	color: #494b4c;
	margin: 8px 0;
	padding: 13px 11px;
}
textarea
{	
	max-width: 600px;
	width: 600px;
	height: 100px;
	max-height: 100px;
	resize: none;
}
#Integration, #API, #SDK
{
	margin-top: 30px;
}
#Integration h2, #API h2, #SDK h2
{
	font-size: 26px;
	font-family: HarmoniaSansProCyr-Bold;	
}
#Integration h3, #API h3, #SDK h3
{
	font-size: 22px;
	font-family: HarmoniaSansProCyr;	
}

.send_butt
{
	background-color: #ec1f27;
	border: 1px solid red;
	border-radius: 5px;
	color: white;
	display: inline;
	font-family: HarmoniaSansProCyr-Bold;
	font-size: 16px;
	padding: 13px 40px 1em 40px;
	margin-bottom: 100px;
}


.send_butt:hover
{
	background-color: #F53137;
}



